
<!-- TOOLBAR || SIDENAV || WEATHER FORECAST CONTENT  -->

<div>
  <!-- TOOLBAR -->

  <mat-toolbar *ngIf="!search">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
    <span class="toolbar-spacer" style="flex: 1 1 auto"></span>

    <!-- FIND CITY BUTTON -->

    <button
      mat-icon-button
      class="add-icon"
      aria-label="Icon-button with add icon"
      (click)="searchToggle()">
      <mat-icon>add</mat-icon>
    </button>

  </mat-toolbar>

  <!-- SEARCH CITY INPUT FIELD -->

  <mat-toolbar-row *ngIf="search">
    <mat-form-field  style="flex: 1 1 auto">
      <input type="text" matInput placeholder="Search">
      <mat-icon matTextPrefix (click)="searchToggle()">arrow_back</mat-icon>
      <mat-icon matSuffix (click)="clearInput()">close</mat-icon>
    </mat-form-field>
  </mat-toolbar-row>

  <mat-progress-bar
    *ngIf="loading"
      mode="indeterminate"
      class="progress-bar-bar">
    </mat-progress-bar>

  <!-- SIDENAV -->

  <mat-sidenav-container class="example-sidenav-container"
    style="width: 400px;
    height: auto;
    margin: 12px 0;
    padding: 16px;
    border: 1px solid #555;">
    <mat-sidenav #snav fixedTopGap="56">

    <!-- SIDENAV CONTENT -->

      <app-sidenav></app-sidenav>

    </mat-sidenav>

    <mat-sidenav-content>
      <!-- WEATHER FORECAST -->

      <app-weather-forecast [cityName]="cityName"></app-weather-forecast>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
