<!-- TOOLBAR || SIDENAV -> WEATHER FORECAST COMPONENT  -->
<div>
  <!-- TOOLBAR -->

  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Weather App</h1>
    <span class="toolbar-spacer" style="flex: 1 1 auto"></span>
  </mat-toolbar>

  <!-- SIDENAV -->

  <mat-sidenav-container class="example-sidenav-container"
    style="width: 100%;
    height: auto;
    margin: 12px 0;
    padding: 16px;">

    <mat-sidenav #snav fixedTopGap="56">
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <!-- SIDENAV CONTENT || WEATHER FORECAST COMPONENT -->

    <mat-sidenav-content>
      <app-weather-forecast></app-weather-forecast>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
