<mat-nav-list class="settings-container">
  <h2>Settings</h2>
  <section class="section-units">
    <h5>units</h5>
    <ul class="units-list">
      <li [matMenuTriggerFor]="tempMenu">
        <a mat-list-item routerLink="#">
          <div class="units-item">
            <span>Temperature units</span>
            <div class="units-item-unt">
              <span>{{tempUnits}}</span>
              <mat-icon>
                <span  class="material-symbols-outlined">
                  expand_all
                </span>
              </mat-icon>
            </div>
          </div>

          <mat-menu #tempMenu="matMenu"
            xPosition="before">
            <button mat-menu-item>{{celsius}}</button>
            <button mat-menu-item>{{fahrenheit}}</button>
          </mat-menu>
        </a>

      </li>
      <li [matMenuTriggerFor]="windMenu">
        <a mat-list-item routerLink="#">
          <div class="units-item">
            <span>Wind speed units</span>
            <div class="units-item-unt">
              <span>{{windUnits}}</span>
              <mat-icon>
                <span class="material-symbols-outlined">
                  expand_all
                </span>
              </mat-icon>
            </div>
          </div>

          <mat-menu #windMenu="matMenu"
            xPosition="before">
            <button mat-menu-item>Kilometers per hour ({{windKmH}})</button>
            <button mat-menu-item>Meters per second ({{windMS}})</button>
            <button mat-menu-item>Miles per hour ({{windMPh}})</button>
          </mat-menu>
        </a>
      </li>
      <li [matMenuTriggerFor]="pressureMenu">
        <a mat-list-item routerLink="#">
          <div class="units-item">
            <span>Pressure units</span>
            <div class="units-item-unt">
              <span>{{pressureUnits}}</span>
              <mat-icon>
                <span class="material-symbols-outlined">
                  expand_all
                </span>
              </mat-icon>
            </div>
          </div>

          <mat-menu #pressureMenu="matMenu"
            xPosition="before">
            <button mat-menu-item>Hectopascal ({{hectopascal}})</button>
            <button mat-menu-item>Millibar ({{millibar}})</button>
            <button mat-menu-item>Standard atmosphere ({{standardAtmosphere}})</button>
          </mat-menu>
        </a>
      </li>
    </ul>
   </section>

   <mat-divider class="divider"></mat-divider>

   <section class="section-about">
    <h5>about weather</h5>
    <ul class="section-about-list">
      <li>
        <a mat-list-item routerLink="#">
          <div class="about-item">
            <span>Feedback</span>
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
        </a>
      </li>
      <li>
        <a mat-list-item routerLink="#">
          <div class="about-item">
            <span>Support this project</span>
            <span class="material-symbols-outlined">
              chevron_right
            </span>
          </div>
        </a>
      </li>
    </ul>
  </section>
</mat-nav-list>
