<!-- <mat-card> -->
<div>
  <mat-card-header style>
    <mat-card-title>{{today | date}}</mat-card-title>
    <mat-card-subtitle>{{data.name | uppercase}}</mat-card-subtitle>
    <span class="card-spacer" style="flex: 1 1 auto"></span>
    <div class="temp">
      <span class="big-text">{{data.main.temp | number: '0.0-0'}} &deg;C </span>
    </div>
  </mat-card-header>

  <mat-divider style="margin: 1rem"></mat-divider>

  <mat-card-content>
    <div class="flex-row">
      <div class="temp">
        <span class="big-text">{{data.main.temp | number: '0.0-0'}} &deg;C </span>
      </div>
      <div class="outlook">
        <img [src]="data.image" class="image">
        <span>{{data['weather'][0].description | titlecase}}</span>
      </div>
    </div>
  </mat-card-content>

  <mat-divider style="margin: 1rem"></mat-divider>
</div>
<!-- </mat-card> -->
