/*
********************************
*
*  WEATHER CONTROLLER STYLE
*
*********************************
*/

app-weather-controller {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

mat-sidenav-container {
  &.content-wrapper {
    width: 100%;
    height: auto;
    margin: 12px 0;
    padding: 0 16px;
    background-color: transparent;
  }
}
